workflows/bills-to-approve-email.json
{"updatedAt":"2026-02-10T12:57:49.898Z","createdAt":"2026-02-10T12:08:41.448Z","id":"7RUidRhPXCiGastd","name":"Bills to Approve Email","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 6 * * 1-5"}]}},"id":"schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,384]},{"parameters":{"operation":"executeQuery","query":"WITH InvoicePaymentSummary AS (\n    SELECT ip.ParentId, SUM(ip.Amount) AS PaymentAmount, MAX(ip.PaidDate) AS LastPaymentDate\n    FROM InvoicePayments ip GROUP BY ip.ParentId\n),\nBillsReadyToPay AS (\n    SELECT b.ExternalInvoiceDocNum, COUNT(*) AS BillCount, SUM(b.Balance) AS BillBalance\n    FROM Bills b\n    WHERE b.TenantCode = 'US' AND b.Balance > 0\n      AND b.ProcessCode NOT IN ('Approved', 'Hold', 'Void')\n      AND b.Id NOT IN (15163,18294,18527,13790)\n    GROUP BY b.ExternalInvoiceDocNum\n),\nEligibleInvoices AS (\n    SELECT i.Id, i.Total AS InvoiceTotal, p.PaymentAmount, p.LastPaymentDate, b.BillCount, b.BillBalance\n    FROM Invoices i\n    LEFT JOIN InvoicePaymentSummary p ON p.ParentId = i.Id\n    LEFT JOIN BillsReadyToPay b ON b.ExternalInvoiceDocNum = i.ExternalInvoiceDocNum\n    WHERE i.TenantCode = 'US' AND i.Balance = 0 AND i.Voided = 0\n      AND b.BillCount > 0 AND p.LastPaymentDate < CURDATE()\n)\nSELECT\n    COUNT(*) AS TotalInvoicesIncluded,\n    ROUND(SUM(InvoiceTotal), 2) AS TotalInvoiceAmount,\n    ROUND(SUM(PaymentAmount), 2) AS TotalInvoicePayments,\n    SUM(BillCount) AS TotalBillsToBePaid,\n    ROUND(SUM(BillBalance), 2) AS TotalBillBalanceToBePaid,\n    MIN(LastPaymentDate) AS EarliestLastPaymentDate,\n    MAX(LastPaymentDate) AS LatestLastPaymentDate\nFROM EligibleInvoices;","options":{}},"id":"get-summary","name":"Get Summary","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[224,384],"credentials":{"mySql":{"id":"0gRQdqcp25fXVYKb","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-bills-condition","leftValue":"={{ $json.TotalInvoicesIncluded }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"has-bills","name":"Has Bills?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[448,384]},{"parameters":{"operation":"executeQuery","query":"WITH InvoicePaymentSummary AS (\n    SELECT ip.ParentId, SUM(ip.Amount) AS PaymentAmount, MAX(ip.PaidDate) AS LastPaymentDate\n    FROM InvoicePayments ip GROUP BY ip.ParentId\n),\nBillsReadyToPay AS (\n    SELECT b.ExternalInvoiceDocNum, COUNT(*) AS BillsToPayCount, SUM(b.Balance) AS BillsToPayAmount\n    FROM Bills b\n    WHERE b.TenantCode = 'US' AND b.Balance > 0\n      AND b.ProcessCode NOT IN ('Approved', 'Hold', 'Void')\n      AND b.Id NOT IN (15163,18294,18527,13790)\n    GROUP BY b.ExternalInvoiceDocNum\n)\nSELECT\n    DATE_FORMAT(i.InvoiceDate, '%Y-%m-%d') AS InvoiceDate,\n    i.ExternalInvoiceDocNum AS InvoiceDocNum,\n    i.ClientName,\n    ROUND(i.Total, 2) AS InvoiceAmount,\n    ROUND(COALESCE(p.PaymentAmount, 0.00), 2) AS PaymentAmount,\n    DATE_FORMAT(p.LastPaymentDate, '%Y-%m-%d') AS LastPaymentDate,\n    CASE WHEN p.LastPaymentDate IS NULL THEN NULL\n         ELSE DATEDIFF(CURDATE(), p.LastPaymentDate)\n    END AS DaysSincePayment,\n    COALESCE(b.BillsToPayCount, 0) AS BillsToPayCount,\n    ROUND(COALESCE(b.BillsToPayAmount, 0.00), 2) AS BillsToPayAmount\nFROM Invoices i\nLEFT JOIN InvoicePaymentSummary p ON p.ParentId = i.Id\nLEFT JOIN BillsReadyToPay b ON b.ExternalInvoiceDocNum = i.ExternalInvoiceDocNum\nWHERE i.TenantCode = 'US' AND i.Balance = 0 AND i.Voided = 0\n  AND b.BillsToPayCount > 0 AND p.LastPaymentDate < CURDATE()\nORDER BY i.ClientName, p.LastPaymentDate ASC;","options":{}},"id":"get-details","name":"Get Detail Lines","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[672,192],"credentials":{"mySql":{"id":"0gRQdqcp25fXVYKb","name":"MySQL account"}}},{"parameters":{"jsCode":"// Build approval email with summary + detail table\nconst summary = $('Get Summary').first().json;\nconst detailRows = $input.all();\n\nconst today = new Date();\nconst formattedDate = today.getFullYear() + '-' +\n  String(today.getMonth() + 1).padStart(2, '0') + '-' +\n  String(today.getDate()).padStart(2, '0');\n\n// Format currency\nconst fmt = (v) => '$' + Number(v || 0).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n\n// Urgency color by days since payment\nconst getUrgencyColor = (days) => {\n  if (days >= 30) return '#e74c3c';  // red - overdue\n  if (days >= 14) return '#f39c12';  // yellow - getting stale\n  return '#27ae60';                   // green - recent\n};\n\n// Build detail table rows with urgency indicators + zebra striping\nconst tableRows = detailRows.map((item, idx) => {\n  const d = item.json;\n  const days = d.DaysSincePayment != null ? d.DaysSincePayment : 0;\n  const borderColor = getUrgencyColor(days);\n  const bgColor = idx % 2 === 1 ? ' background-color: #f9f9f9;' : '';\n  return `<tr style=\"${bgColor}\">\n  <td style=\"border-left: 4px solid ${borderColor};\">${d.InvoiceDate || ''}</td>\n  <td>${d.InvoiceDocNum || ''}</td>\n  <td>${d.ClientName || ''}</td>\n  <td style=\"text-align: right;\">${fmt(d.InvoiceAmount)}</td>\n  <td style=\"text-align: right;\">${fmt(d.PaymentAmount)}</td>\n  <td>${d.LastPaymentDate || ''}</td>\n  <td style=\"text-align: center;\">${d.DaysSincePayment != null ? d.DaysSincePayment : ''}</td>\n  <td style=\"text-align: center;\">${d.BillsToPayCount || 0}</td>\n  <td style=\"text-align: right;\">${fmt(d.BillsToPayAmount)}</td>\n</tr>`;\n}).join('\\n');\n\n// Compute totals for footer row\nconst totals = detailRows.reduce((acc, item) => {\n  const d = item.json;\n  acc.invoiceAmount += Number(d.InvoiceAmount || 0);\n  acc.paymentAmount += Number(d.PaymentAmount || 0);\n  acc.billCount += Number(d.BillsToPayCount || 0);\n  acc.billAmount += Number(d.BillsToPayAmount || 0);\n  return acc;\n}, { invoiceAmount: 0, paymentAmount: 0, billCount: 0, billAmount: 0 });\n\nconst totalsRow = `<tr style=\"background-color: #e8e8e8; font-weight: bold;\">\n  <td colspan=\"3\" style=\"text-align: right;\">Totals</td>\n  <td style=\"text-align: right;\">${fmt(totals.invoiceAmount)}</td>\n  <td style=\"text-align: right;\">${fmt(totals.paymentAmount)}</td>\n  <td colspan=\"2\"></td>\n  <td style=\"text-align: center;\">${totals.billCount}</td>\n  <td style=\"text-align: right;\">${fmt(totals.billAmount)}</td>\n</tr>`;\n\nconst htmlBody = `<html>\n  <body style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n    <h2 style=\"color: #0057b8;\">📋 Bill Approval Summary</h2>\n\n    <p>Below is a summary of invoices that have been paid and the related bills ready to be approved.</p>\n\n    <table cellpadding=\"6\" cellspacing=\"0\" border=\"1\" style=\"border-collapse: collapse; border: 1px solid #ccc; margin-top: 10px;\">\n      <tr style=\"background-color: #f5f5f5;\">\n        <th>Invoices Included</th>\n        <th>Total Invoice $</th>\n        <th>Total Payments $</th>\n        <th>Bills to Approve</th>\n        <th>Total Bill Balance $</th>\n        <th>Payment Range</th>\n      </tr>\n      <tr>\n        <td>${summary.TotalInvoicesIncluded}</td>\n        <td>${fmt(summary.TotalInvoiceAmount)}</td>\n        <td>${fmt(summary.TotalInvoicePayments)}</td>\n        <td>${summary.TotalBillsToBePaid}</td>\n        <td>${fmt(summary.TotalBillBalanceToBePaid)}</td>\n        <td>${summary.EarliestLastPaymentDate} to ${summary.LatestLastPaymentDate}</td>\n      </tr>\n    </table>\n\n    <h3 style=\"margin-top: 30px;\">🧾 Invoice Detail</h3>\n\n    <table cellpadding=\"6\" cellspacing=\"0\" border=\"1\" style=\"border-collapse: collapse; border: 1px solid #ccc;\">\n      <tr style=\"background-color: #f5f5f5;\">\n        <th>Invoice Date</th>\n        <th>Invoice #</th>\n        <th>Client</th>\n        <th style=\"text-align: right;\">Invoice $</th>\n        <th style=\"text-align: right;\">Paid $</th>\n        <th>Last Payment Date</th>\n        <th style=\"text-align: center;\">Days Since</th>\n        <th style=\"text-align: center;\">Bill Count</th>\n        <th style=\"text-align: right;\">Bill $</th>\n      </tr>\n      ${tableRows}\n      ${totalsRow}\n    </table>\n\n    <p style=\"margin-top: 20px; font-size: 12px; color: #666;\">\n      🟢 &lt;14 days &nbsp; 🟡 14-30 days &nbsp; 🔴 30+ days since payment\n    </p>\n\n    <p style=\"margin-top: 20px;\">Sent by Fortium billing automation.</p>\n  </body>\n</html>`;\n\nconst emailRecipients = 'burke.autrey@fortiumpartners.com, fortiumaccounting@venturity.net, will.baccich@fortiumpartners.com';\n\nreturn [{\n  json: {\n    subject: `Bill Approval Summary — ${summary.TotalBillsToBePaid} Bills (${formattedDate})`,\n    htmlBody,\n    emailRecipients\n  }\n}];"},"id":"build-approval-email","name":"Build Approval Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,192]},{"parameters":{"method":"POST","url":"https://api.postmarkapp.com/email","authentication":"predefinedCredentialType","nodeCredentialType":"postmarkApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"From\": \"Accounting@FortiumPartners.com\",\n  \"To\": \"{{ $json.emailRecipients }}\",\n  \"Subject\": \"{{ $json.subject }}\",\n  \"HtmlBody\": {{ JSON.stringify($json.htmlBody) }}\n}","options":{}},"id":"send-approval-email","name":"Send Approval Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,192],"credentials":{"postmarkApi":{"id":"HW0lzGccA3xvVoHZ","name":"Postmark account"}}},{"parameters":{"jsCode":"// Build no-bills email\nconst today = new Date();\nconst formattedDate = today.getFullYear() + '-' +\n  String(today.getMonth() + 1).padStart(2, '0') + '-' +\n  String(today.getDate()).padStart(2, '0');\n\nconst htmlBody = `<html>\n  <body style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n    <h2 style=\"color: #0057b8;\">✅ No Bills to Approve Today</h2>\n\n    <p>\n      As of <strong>${formattedDate}</strong>, there are no invoices with payments that are generating bills pending approval.\n    </p>\n\n    <p>\n      This means all recent invoice payments have already triggered their corresponding bill approvals — no action is currently needed.\n    </p>\n\n    <p style=\"margin-top: 20px;\">\n      This check runs every weekday at 6:00 AM.\n    </p>\n\n    <p style=\"margin-top: 40px;\">Sent by Fortium billing automation.</p>\n  </body>\n</html>`;\n\nconst emailRecipients = 'burke.autrey@fortiumpartners.com, fortiumaccounting@venturity.net, will.baccich@fortiumpartners.com';\n\nreturn [{\n  json: {\n    subject: `No Bills to Approve as of ${formattedDate}`,\n    htmlBody,\n    emailRecipients\n  }\n}];"},"id":"build-no-bills-email","name":"Build No-Bills Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,576]},{"parameters":{"method":"POST","url":"https://api.postmarkapp.com/email","authentication":"predefinedCredentialType","nodeCredentialType":"postmarkApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"From\": \"Accounting@FortiumPartners.com\",\n  \"To\": \"{{ $json.emailRecipients }}\",\n  \"Subject\": \"{{ $json.subject }}\",\n  \"HtmlBody\": {{ JSON.stringify($json.htmlBody) }}\n}","options":{}},"id":"send-no-bills-email","name":"Send No-Bills Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,576],"credentials":{"postmarkApi":{"id":"HW0lzGccA3xvVoHZ","name":"Postmark account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,576],"id":"manual-trigger","name":"When clicking 'Execute workflow'"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Summary","type":"main","index":0}]]},"Get Summary":{"main":[[{"node":"Has Bills?","type":"main","index":0}]]},"Has Bills?":{"main":[[{"node":"Get Detail Lines","type":"main","index":0}],[{"node":"Build No-Bills Email","type":"main","index":0}]]},"Get Detail Lines":{"main":[[{"node":"Build Approval Email","type":"main","index":0}]]},"Build Approval Email":{"main":[[{"node":"Send Approval Email","type":"main","index":0}]]},"Build No-Bills Email":{"main":[[{"node":"Send No-Bills Email","type":"main","index":0}]]},"When clicking 'Execute workflow'":{"main":[[{"node":"Get Summary","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"d976d6b9-e561-4829-b23f-aaab3e8fcaa3","activeVersionId":"d976d6b9-e561-4829-b23f-aaab3e8fcaa3","versionCounter":25,"triggerCount":1,"shared":[{"updatedAt":"2026-02-10T12:08:41.461Z","createdAt":"2026-02-10T12:08:41.461Z","role":"workflow:owner","workflowId":"7RUidRhPXCiGastd","projectId":"YzYcE6mKFnrebOWN","project":{"updatedAt":"2024-12-02T18:17:57.728Z","createdAt":"2024-12-02T18:17:55.872Z","id":"YzYcE6mKFnrebOWN","name":"Burke Autrey <burke.autrey@fortiumpartners.com>","type":"personal","icon":null,"description":null,"creatorId":"9e2499ce-735b-4ceb-9948-c8a8113723a9","projectRelations":[{"updatedAt":"2024-12-02T18:17:55.873Z","createdAt":"2024-12-02T18:17:55.873Z","userId":"9e2499ce-735b-4ceb-9948-c8a8113723a9","projectId":"YzYcE6mKFnrebOWN","user":{"updatedAt":"2026-02-10T12:08:28.000Z","createdAt":"2024-12-02T18:17:54.383Z","id":"9e2499ce-735b-4ceb-9948-c8a8113723a9","email":"burke.autrey@fortiumpartners.com","firstName":"Burke","lastName":"Autrey","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nEOwdsbMyC6ayRov","userActivatedAt":1765715867087,"npsSurvey":{"responded":true,"lastShownAt":1768949557440}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-10","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T12:57:49.901Z","createdAt":"2026-02-10T12:57:49.901Z","versionId":"d976d6b9-e561-4829-b23f-aaab3e8fcaa3","workflowId":"7RUidRhPXCiGastd","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 6 * * 1-5"}]}},"id":"schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,384]},{"parameters":{"operation":"executeQuery","query":"WITH InvoicePaymentSummary AS (\n    SELECT ip.ParentId, SUM(ip.Amount) AS PaymentAmount, MAX(ip.PaidDate) AS LastPaymentDate\n    FROM InvoicePayments ip GROUP BY ip.ParentId\n),\nBillsReadyToPay AS (\n    SELECT b.ExternalInvoiceDocNum, COUNT(*) AS BillCount, SUM(b.Balance) AS BillBalance\n    FROM Bills b\n    WHERE b.TenantCode = 'US' AND b.Balance > 0\n      AND b.ProcessCode NOT IN ('Approved', 'Hold', 'Void')\n      AND b.Id NOT IN (15163,18294,18527,13790)\n    GROUP BY b.ExternalInvoiceDocNum\n),\nEligibleInvoices AS (\n    SELECT i.Id, i.Total AS InvoiceTotal, p.PaymentAmount, p.LastPaymentDate, b.BillCount, b.BillBalance\n    FROM Invoices i\n    LEFT JOIN InvoicePaymentSummary p ON p.ParentId = i.Id\n    LEFT JOIN BillsReadyToPay b ON b.ExternalInvoiceDocNum = i.ExternalInvoiceDocNum\n    WHERE i.TenantCode = 'US' AND i.Balance = 0 AND i.Voided = 0\n      AND b.BillCount > 0 AND p.LastPaymentDate < CURDATE()\n)\nSELECT\n    COUNT(*) AS TotalInvoicesIncluded,\n    ROUND(SUM(InvoiceTotal), 2) AS TotalInvoiceAmount,\n    ROUND(SUM(PaymentAmount), 2) AS TotalInvoicePayments,\n    SUM(BillCount) AS TotalBillsToBePaid,\n    ROUND(SUM(BillBalance), 2) AS TotalBillBalanceToBePaid,\n    MIN(LastPaymentDate) AS EarliestLastPaymentDate,\n    MAX(LastPaymentDate) AS LatestLastPaymentDate\nFROM EligibleInvoices;","options":{}},"id":"get-summary","name":"Get Summary","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[224,384],"credentials":{"mySql":{"id":"0gRQdqcp25fXVYKb","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-bills-condition","leftValue":"={{ $json.TotalInvoicesIncluded }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"has-bills","name":"Has Bills?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[448,384]},{"parameters":{"operation":"executeQuery","query":"WITH InvoicePaymentSummary AS (\n    SELECT ip.ParentId, SUM(ip.Amount) AS PaymentAmount, MAX(ip.PaidDate) AS LastPaymentDate\n    FROM InvoicePayments ip GROUP BY ip.ParentId\n),\nBillsReadyToPay AS (\n    SELECT b.ExternalInvoiceDocNum, COUNT(*) AS BillsToPayCount, SUM(b.Balance) AS BillsToPayAmount\n    FROM Bills b\n    WHERE b.TenantCode = 'US' AND b.Balance > 0\n      AND b.ProcessCode NOT IN ('Approved', 'Hold', 'Void')\n      AND b.Id NOT IN (15163,18294,18527,13790)\n    GROUP BY b.ExternalInvoiceDocNum\n)\nSELECT\n    DATE_FORMAT(i.InvoiceDate, '%Y-%m-%d') AS InvoiceDate,\n    i.ExternalInvoiceDocNum AS InvoiceDocNum,\n    i.ClientName,\n    ROUND(i.Total, 2) AS InvoiceAmount,\n    ROUND(COALESCE(p.PaymentAmount, 0.00), 2) AS PaymentAmount,\n    DATE_FORMAT(p.LastPaymentDate, '%Y-%m-%d') AS LastPaymentDate,\n    CASE WHEN p.LastPaymentDate IS NULL THEN NULL\n         ELSE DATEDIFF(CURDATE(), p.LastPaymentDate)\n    END AS DaysSincePayment,\n    COALESCE(b.BillsToPayCount, 0) AS BillsToPayCount,\n    ROUND(COALESCE(b.BillsToPayAmount, 0.00), 2) AS BillsToPayAmount\nFROM Invoices i\nLEFT JOIN InvoicePaymentSummary p ON p.ParentId = i.Id\nLEFT JOIN BillsReadyToPay b ON b.ExternalInvoiceDocNum = i.ExternalInvoiceDocNum\nWHERE i.TenantCode = 'US' AND i.Balance = 0 AND i.Voided = 0\n  AND b.BillsToPayCount > 0 AND p.LastPaymentDate < CURDATE()\nORDER BY i.ClientName, p.LastPaymentDate ASC;","options":{}},"id":"get-details","name":"Get Detail Lines","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[672,192],"credentials":{"mySql":{"id":"0gRQdqcp25fXVYKb","name":"MySQL account"}}},{"parameters":{"jsCode":"// Build approval email with summary + detail table\nconst summary = $('Get Summary').first().json;\nconst detailRows = $input.all();\n\nconst today = new Date();\nconst formattedDate = today.getFullYear() + '-' +\n  String(today.getMonth() + 1).padStart(2, '0') + '-' +\n  String(today.getDate()).padStart(2, '0');\n\n// Format currency\nconst fmt = (v) => '$' + Number(v || 0).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n\n// Urgency color by days since payment\nconst getUrgencyColor = (days) => {\n  if (days >= 30) return '#e74c3c';  // red - overdue\n  if (days >= 14) return '#f39c12';  // yellow - getting stale\n  return '#27ae60';                   // green - recent\n};\n\n// Build detail table rows with urgency indicators + zebra striping\nconst tableRows = detailRows.map((item, idx) => {\n  const d = item.json;\n  const days = d.DaysSincePayment != null ? d.DaysSincePayment : 0;\n  const borderColor = getUrgencyColor(days);\n  const bgColor = idx % 2 === 1 ? ' background-color: #f9f9f9;' : '';\n  return `<tr style=\"${bgColor}\">\n  <td style=\"border-left: 4px solid ${borderColor};\">${d.InvoiceDate || ''}</td>\n  <td>${d.InvoiceDocNum || ''}</td>\n  <td>${d.ClientName || ''}</td>\n  <td style=\"text-align: right;\">${fmt(d.InvoiceAmount)}</td>\n  <td style=\"text-align: right;\">${fmt(d.PaymentAmount)}</td>\n  <td>${d.LastPaymentDate || ''}</td>\n  <td style=\"text-align: center;\">${d.DaysSincePayment != null ? d.DaysSincePayment : ''}</td>\n  <td style=\"text-align: center;\">${d.BillsToPayCount || 0}</td>\n  <td style=\"text-align: right;\">${fmt(d.BillsToPayAmount)}</td>\n</tr>`;\n}).join('\\n');\n\n// Compute totals for footer row\nconst totals = detailRows.reduce((acc, item) => {\n  const d = item.json;\n  acc.invoiceAmount += Number(d.InvoiceAmount || 0);\n  acc.paymentAmount += Number(d.PaymentAmount || 0);\n  acc.billCount += Number(d.BillsToPayCount || 0);\n  acc.billAmount += Number(d.BillsToPayAmount || 0);\n  return acc;\n}, { invoiceAmount: 0, paymentAmount: 0, billCount: 0, billAmount: 0 });\n\nconst totalsRow = `<tr style=\"background-color: #e8e8e8; font-weight: bold;\">\n  <td colspan=\"3\" style=\"text-align: right;\">Totals</td>\n  <td style=\"text-align: right;\">${fmt(totals.invoiceAmount)}</td>\n  <td style=\"text-align: right;\">${fmt(totals.paymentAmount)}</td>\n  <td colspan=\"2\"></td>\n  <td style=\"text-align: center;\">${totals.billCount}</td>\n  <td style=\"text-align: right;\">${fmt(totals.billAmount)}</td>\n</tr>`;\n\nconst htmlBody = `<html>\n  <body style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n    <h2 style=\"color: #0057b8;\">📋 Bill Approval Summary</h2>\n\n    <p>Below is a summary of invoices that have been paid and the related bills ready to be approved.</p>\n\n    <table cellpadding=\"6\" cellspacing=\"0\" border=\"1\" style=\"border-collapse: collapse; border: 1px solid #ccc; margin-top: 10px;\">\n      <tr style=\"background-color: #f5f5f5;\">\n        <th>Invoices Included</th>\n        <th>Total Invoice $</th>\n        <th>Total Payments $</th>\n        <th>Bills to Approve</th>\n        <th>Total Bill Balance $</th>\n        <th>Payment Range</th>\n      </tr>\n      <tr>\n        <td>${summary.TotalInvoicesIncluded}</td>\n        <td>${fmt(summary.TotalInvoiceAmount)}</td>\n        <td>${fmt(summary.TotalInvoicePayments)}</td>\n        <td>${summary.TotalBillsToBePaid}</td>\n        <td>${fmt(summary.TotalBillBalanceToBePaid)}</td>\n        <td>${summary.EarliestLastPaymentDate} to ${summary.LatestLastPaymentDate}</td>\n      </tr>\n    </table>\n\n    <h3 style=\"margin-top: 30px;\">🧾 Invoice Detail</h3>\n\n    <table cellpadding=\"6\" cellspacing=\"0\" border=\"1\" style=\"border-collapse: collapse; border: 1px solid #ccc;\">\n      <tr style=\"background-color: #f5f5f5;\">\n        <th>Invoice Date</th>\n        <th>Invoice #</th>\n        <th>Client</th>\n        <th style=\"text-align: right;\">Invoice $</th>\n        <th style=\"text-align: right;\">Paid $</th>\n        <th>Last Payment Date</th>\n        <th style=\"text-align: center;\">Days Since</th>\n        <th style=\"text-align: center;\">Bill Count</th>\n        <th style=\"text-align: right;\">Bill $</th>\n      </tr>\n      ${tableRows}\n      ${totalsRow}\n    </table>\n\n    <p style=\"margin-top: 20px; font-size: 12px; color: #666;\">\n      🟢 &lt;14 days &nbsp; 🟡 14-30 days &nbsp; 🔴 30+ days since payment\n    </p>\n\n    <p style=\"margin-top: 20px;\">Sent by Fortium billing automation.</p>\n  </body>\n</html>`;\n\nconst emailRecipients = 'burke.autrey@fortiumpartners.com, fortiumaccounting@venturity.net, will.baccich@fortiumpartners.com';\n\nreturn [{\n  json: {\n    subject: `Bill Approval Summary — ${summary.TotalBillsToBePaid} Bills (${formattedDate})`,\n    htmlBody,\n    emailRecipients\n  }\n}];"},"id":"build-approval-email","name":"Build Approval Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,192]},{"parameters":{"method":"POST","url":"https://api.postmarkapp.com/email","authentication":"predefinedCredentialType","nodeCredentialType":"postmarkApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"From\": \"Accounting@FortiumPartners.com\",\n  \"To\": \"{{ $json.emailRecipients }}\",\n  \"Subject\": \"{{ $json.subject }}\",\n  \"HtmlBody\": {{ JSON.stringify($json.htmlBody) }}\n}","options":{}},"id":"send-approval-email","name":"Send Approval Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,192],"credentials":{"postmarkApi":{"id":"HW0lzGccA3xvVoHZ","name":"Postmark account"}}},{"parameters":{"jsCode":"// Build no-bills email\nconst today = new Date();\nconst formattedDate = today.getFullYear() + '-' +\n  String(today.getMonth() + 1).padStart(2, '0') + '-' +\n  String(today.getDate()).padStart(2, '0');\n\nconst htmlBody = `<html>\n  <body style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n    <h2 style=\"color: #0057b8;\">✅ No Bills to Approve Today</h2>\n\n    <p>\n      As of <strong>${formattedDate}</strong>, there are no invoices with payments that are generating bills pending approval.\n    </p>\n\n    <p>\n      This means all recent invoice payments have already triggered their corresponding bill approvals — no action is currently needed.\n    </p>\n\n    <p style=\"margin-top: 20px;\">\n      This check runs every weekday at 6:00 AM.\n    </p>\n\n    <p style=\"margin-top: 40px;\">Sent by Fortium billing automation.</p>\n  </body>\n</html>`;\n\nconst emailRecipients = 'burke.autrey@fortiumpartners.com, fortiumaccounting@venturity.net, will.baccich@fortiumpartners.com';\n\nreturn [{\n  json: {\n    subject: `No Bills to Approve as of ${formattedDate}`,\n    htmlBody,\n    emailRecipients\n  }\n}];"},"id":"build-no-bills-email","name":"Build No-Bills Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,576]},{"parameters":{"method":"POST","url":"https://api.postmarkapp.com/email","authentication":"predefinedCredentialType","nodeCredentialType":"postmarkApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"From\": \"Accounting@FortiumPartners.com\",\n  \"To\": \"{{ $json.emailRecipients }}\",\n  \"Subject\": \"{{ $json.subject }}\",\n  \"HtmlBody\": {{ JSON.stringify($json.htmlBody) }}\n}","options":{}},"id":"send-no-bills-email","name":"Send No-Bills Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,576],"credentials":{"postmarkApi":{"id":"HW0lzGccA3xvVoHZ","name":"Postmark account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,576],"id":"manual-trigger","name":"When clicking 'Execute workflow'"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Summary","type":"main","index":0}]]},"Get Summary":{"main":[[{"node":"Has Bills?","type":"main","index":0}]]},"Has Bills?":{"main":[[{"node":"Get Detail Lines","type":"main","index":0}],[{"node":"Build No-Bills Email","type":"main","index":0}]]},"Get Detail Lines":{"main":[[{"node":"Build Approval Email","type":"main","index":0}]]},"Build Approval Email":{"main":[[{"node":"Send Approval Email","type":"main","index":0}]]},"Build No-Bills Email":{"main":[[{"node":"Send No-Bills Email","type":"main","index":0}]]},"When clicking 'Execute workflow'":{"main":[[{"node":"Get Summary","type":"main","index":0}]]}},"authors":"Burke Autrey","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-10T12:57:50.108Z","id":47,"workflowId":"7RUidRhPXCiGastd","versionId":"d976d6b9-e561-4829-b23f-aaab3e8fcaa3","event":"activated","userId":"9e2499ce-735b-4ceb-9948-c8a8113723a9"}]}}