workflows/ceo-scans-processor.json
{"updatedAt":"2026-02-08T13:53:47.545Z","createdAt":"2026-01-20T22:58:28.348Z","id":"JwDmVKDzUpDmY8jh","name":"CEO Scans Processor","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"id","value":"1wTbf1sM1zUC4WZ1Mj2PzNFfsMLoaFi7D"},"event":"fileCreated","options":{}},"id":"trigger","name":"Watch CEO Mail Folder","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,384],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{}},"id":"download","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,384],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 2048, messages: [{ role: 'user', content: [{ type: 'document', source: { type: 'base64', media_type: 'application/pdf', data: $binary.data.data } }, { type: 'text', text: 'You are classifying a scanned document. Analyze the FULL document visually.\\n\\nRULES:\\n- Be conservative and explicit.\\n- If unsure, say \"Unknown\" or \"Unclear\".\\n- Do NOT infer facts not supported by the document.\\n- Output MUST be valid JSON with the structure below.\\n- Do NOT include markdown formatting or code fences.\\n\\nROUTING RULES (CRITICAL):\\n- Look at the COVER SHEET (first page) for a category keyword\\n- The cover sheet will contain one of: \"Support\", \"Personal\", or \"Accounting\"\\n- This may appear as large text, a header, or near a QR code\\n- If you see \"Support\" \u2192 route is \"Support\"\\n- If you see \"Personal\" \u2192 route is \"Personal\"\\n- If you see \"Accounting\" \u2192 route is \"Accounting\"\\n- If none found or unclear \u2192 route is \"Review\"\\n\\nCLASSIFICATION FIELD RULES:\\n- Must be a PLAIN TEXT STRING, not a JSON object\\n- Format as: SUMMARY: ...\\nCLASSIFICATION: ...\\nTAX RELEVANCE: ...\\nENTITIES: ...\\nKEY TERMS: ...\\n\\nFILENAME RULES:\\n- Extract ACTUAL identifying details from the document\\n- Include: sender/source, account/reference/policy numbers, document type, date\\n- Use underscores, no spaces. Keep under 80 characters.\\n- Be SPECIFIC \u2014 generic names are unacceptable\\n\\nOUTPUT (valid JSON only):\\n{\\n  \"route\": \"<Support|Personal|Accounting|Review>\",\\n  \"classification\": \"SUMMARY: ...\\\\nCLASSIFICATION: ...\\\\nTAX RELEVANCE: ...\\\\nENTITIES: ...\\\\nKEY TERMS: ...\",\\n  \"filename\": \"<specific_filename_from_document_details>\",\\n  \"title\": \"<suggested title, 25 words or less>\"\\n}' }] }] }) }}","options":{"timeout":60000}},"id":"claude-analyze","name":"Analyze Document (Claude)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,384],"credentials":{"httpHeaderAuth":{"id":"SETVFCiGbJg6UhQO","name":"Anthropic API Key"}}},{"parameters":{"jsCode":"const claudeResponse = $input.first().json;\nconst originalName = $('Download File').first().json.name;\n\nlet analysis = { route: 'Review', classification: '', filename: 'scan.pdf', title: 'Scanned Document' };\n\ntry {\n  const content = claudeResponse.content[0].text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      analysis = JSON.parse(jsonMatch[0]);\n    } catch (e) {\n      const fixed = jsonMatch[0].replace(/\"((?:[^\"\\\\]|\\\\.)*?)\"/g, (match, inner) => {\n        return '\"' + inner.replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\r') + '\"';\n      });\n      try {\n        analysis = JSON.parse(fixed);\n      } catch (e2) {\n        console.log('Parse error after fix:', e2.message);\n      }\n    }\n  }\n} catch (e) {\n  console.log('Parse error:', e.message);\n}\n\n// Ensure classification is a string\nif (typeof analysis.classification === 'object' && analysis.classification !== null) {\n  let textParts = [];\n  for (const [key, value] of Object.entries(analysis.classification)) {\n    const label = key.toUpperCase().replace(/_/g, ' ');\n    if (Array.isArray(value)) {\n      textParts.push(`${label}: ${value.join(', ')}`);\n    } else if (typeof value === 'object' && value !== null) {\n      textParts.push(`${label}: ${JSON.stringify(value)}`);\n    } else {\n      textParts.push(`${label}: ${value}`);\n    }\n  }\n  analysis.classification = textParts.join('\\n');\n}\n\nif (!analysis.filename.toLowerCase().endsWith('.pdf')) {\n  analysis.filename += '.pdf';\n}\n\n// Normalize route value\nconst validRoutes = ['Support', 'Personal', 'Accounting'];\nconst route = validRoutes.find(r => r.toLowerCase() === (analysis.route || '').toLowerCase()) || 'Review';\n\nreturn [{\n  json: {\n    classification: analysis.classification,\n    filename: analysis.filename,\n    title: analysis.title,\n    route: route,\n    originalName: originalName\n  },\n  pairedItem: { item: 0 }\n}];"},"id":"parse-response","name":"Parse Claude Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,384]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Parse Claude Response').item.json.route }}","rightValue":"Support","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Support"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Parse Claude Response').item.json.route }}","rightValue":"Personal","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Personal"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Parse Claude Response').item.json.route }}","rightValue":"Accounting","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Accounting"}]},"options":{}},"id":"route-by-barcode","name":"Route by Category","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1120,368]},{"parameters":{"name":"={{ $('Parse Claude Response').item.json.filename }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1fzB8tvGMuqLZegqsJ4Y7U_a_jVvjBxKc"},"options":{}},"id":"upload-support","name":"Upload to Support","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1344,0],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}}},{"parameters":{"name":"={{ $('Parse Claude Response').item.json.filename }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"0BzramNI5HfpVfnpaaXlXV3ZyWXlmS1BNaXVDbjFyaklhVTFYa1JCUzdKZ21oTXdPQ0k0cVk"},"options":{}},"id":"upload-personal","name":"Upload to Personal","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1344,288],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}}},{"parameters":{"name":"={{ $('Parse Claude Response').item.json.filename }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1-7yb9G-oPqc8DOKcJuuNXaiTUKW6n32E"},"options":{}},"id":"upload-accounting","name":"Upload to Accounting","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1344,576],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}}},{"parameters":{"name":"={{ $('Parse Claude Response').item.json.filename }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1wTbf1sM1zUC4WZ1Mj2PzNFfsMLoaFi7D"},"options":{}},"id":"upload-review","name":"Upload to Review","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1344,768],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"mode":"id","value":"={{ $('Watch CEO Mail Folder').item.json.id }}"},"options":{}},"id":"delete-support","name":"Delete Original (Support)","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1568,0],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"mode":"id","value":"={{ $('Watch CEO Mail Folder').item.json.id }}"},"options":{}},"id":"delete-personal","name":"Delete Original (Personal)","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1568,288],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"mode":"id","value":"={{ $('Watch CEO Mail Folder').item.json.id }}"},"options":{}},"id":"delete-accounting","name":"Delete Original (Accounting)","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1568,576],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"mode":"id","value":"={{ $('Watch CEO Mail Folder').item.json.id }}"},"options":{}},"id":"delete-review","name":"Delete Original (Review)","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1568,768],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://api.postmarkapp.com/email","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ From: 'Support@fortiumpartners.com', To: 'support@fortiumpartners.com', Subject: 'New Support Mail: ' + $('Parse Claude Response').item.json.filename, TextBody: 'A new document has been received for Support. Please review and take the necessary action.\\n\\nDocument: ' + $('Parse Claude Response').item.json.filename + '\\n\\nDocument link: ' + $('Upload to Support').item.json.webViewLink + '\\n\\nDescription:\\n' + $('Parse Claude Response').item.json.classification }) }}","options":{}},"id":"email-support","name":"Email Support Team","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,0],"credentials":{"httpHeaderAuth":{"id":"ITJOSvq8zzGdCqAW","name":"Postmark API Key"}}},{"parameters":{"method":"POST","url":"https://api.postmarkapp.com/email","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ From: 'Accounting@fortiumpartners.com', To: 'accounting@fortiumpartners.com', Subject: 'New Accounting Mail: ' + $('Parse Claude Response').item.json.filename, TextBody: 'A new document has been received for Accounting. Please review and take the necessary action.\\n\\nDocument: ' + $('Parse Claude Response').item.json.filename + '\\n\\nDocument link: ' + $('Upload to Accounting').item.json.webViewLink + '\\n\\nDescription:\\n' + $('Parse Claude Response').item.json.classification }) }}","options":{}},"id":"email-accounting","name":"Email Accounting Team","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,576],"credentials":{"httpHeaderAuth":{"id":"ITJOSvq8zzGdCqAW","name":"Postmark API Key"}}},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ channel: 'D1KSRSPQV', text: 'Your scan was moved to the Support Folder.\\n\\nLink: ' + $('Upload to Support').item.json.webViewLink + '\\n\\nFilename: ' + $('Parse Claude Response').item.json.filename + '\\n\\nTitle: ' + $('Parse Claude Response').item.json.title + '\\n\\nSummary: ' + $('Parse Claude Response').item.json.classification }) }}","options":{}},"id":"slack-support","name":"Slack DM (Support)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,0],"credentials":{"httpHeaderAuth":{"id":"XrXVVGhH6x5M4XVD","name":"Slack Bot Token"}}},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ channel: 'D1KSRSPQV', text: 'Your scan was moved to the Personal Folder.\\n\\nLink: ' + $('Upload to Personal').item.json.webViewLink + '\\n\\nFilename: ' + $('Parse Claude Response').item.json.filename + '\\n\\nTitle: ' + $('Parse Claude Response').item.json.title + '\\n\\nSummary: ' + $('Parse Claude Response').item.json.classification }) }}","options":{}},"id":"slack-personal","name":"Slack DM (Personal)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,288],"credentials":{"httpHeaderAuth":{"id":"XrXVVGhH6x5M4XVD","name":"Slack Bot Token"}}},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ channel: 'D1KSRSPQV', text: 'Your scan was moved to the Accounting Folder.\\n\\nLink: ' + $('Upload to Accounting').item.json.webViewLink + '\\n\\nFilename: ' + $('Parse Claude Response').item.json.filename + '\\n\\nTitle: ' + $('Parse Claude Response').item.json.title + '\\n\\nSummary: ' + $('Parse Claude Response').item.json.classification }) }}","options":{}},"id":"slack-accounting","name":"Slack DM (Accounting)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,576],"credentials":{"httpHeaderAuth":{"id":"XrXVVGhH6x5M4XVD","name":"Slack Bot Token"}}},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ channel: 'D1KSRSPQV', text: 'Your scan was moved to the Review Folder (unrecognized category).\\n\\nLink: ' + $('Upload to Review').item.json.webViewLink + '\\n\\nFilename: ' + $('Parse Claude Response').item.json.filename + '\\n\\nTitle: ' + $('Parse Claude Response').item.json.title + '\\n\\nSummary: ' + $('Parse Claude Response').item.json.classification }) }}","options":{}},"id":"slack-review","name":"Slack DM (Review)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,768],"credentials":{"httpHeaderAuth":{"id":"XrXVVGhH6x5M4XVD","name":"Slack Bot Token"}}},{"parameters":{"jsCode":"const json = $input.first().json;\nconst binary = $('Download File').first().binary;\nreturn [{ json, binary, pairedItem: { item: 0 } }];"},"id":"reattach-binary","name":"Re-attach Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,384]}],"connections":{"Watch CEO Mail Folder":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Analyze Document (Claude)","type":"main","index":0}]]},"Analyze Document (Claude)":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Parse Claude Response":{"main":[[{"node":"Re-attach Binary","type":"main","index":0}]]},"Re-attach Binary":{"main":[[{"node":"Route by Category","type":"main","index":0}]]},"Route by Category":{"main":[[{"node":"Upload to Support","type":"main","index":0}],[{"node":"Upload to Personal","type":"main","index":0}],[{"node":"Upload to Accounting","type":"main","index":0}],[{"node":"Upload to Review","type":"main","index":0}]]},"Upload to Support":{"main":[[{"node":"Delete Original (Support)","type":"main","index":0}]]},"Upload to Personal":{"main":[[{"node":"Delete Original (Personal)","type":"main","index":0}]]},"Upload to Accounting":{"main":[[{"node":"Delete Original (Accounting)","type":"main","index":0}]]},"Upload to Review":{"main":[[{"node":"Delete Original (Review)","type":"main","index":0}]]},"Delete Original (Support)":{"main":[[{"node":"Email Support Team","type":"main","index":0}]]},"Delete Original (Personal)":{"main":[[{"node":"Slack DM (Personal)","type":"main","index":0}]]},"Delete Original (Accounting)":{"main":[[{"node":"Email Accounting Team","type":"main","index":0}]]},"Delete Original (Review)":{"main":[[{"node":"Slack DM (Review)","type":"main","index":0}]]},"Email Support Team":{"main":[[{"node":"Slack DM (Support)","type":"main","index":0}]]},"Email Accounting Team":{"main":[[{"node":"Slack DM (Accounting)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Watch CEO Mail Folder":{"lastTimeChecked":"2026-02-08T13:53:47Z"}},"meta":null,"pinData":{},"versionId":"e3a284ad-a5fe-496f-b0bb-5935bb940b8e","activeVersionId":"e3a284ad-a5fe-496f-b0bb-5935bb940b8e","versionCounter":88,"triggerCount":1,"shared":[{"updatedAt":"2026-01-20T22:58:28.352Z","createdAt":"2026-01-20T22:58:28.352Z","role":"workflow:owner","workflowId":"JwDmVKDzUpDmY8jh","projectId":"YzYcE6mKFnrebOWN","project":{"updatedAt":"2024-12-02T18:17:57.728Z","createdAt":"2024-12-02T18:17:55.872Z","id":"YzYcE6mKFnrebOWN","name":"Burke Autrey <burke.autrey@fortiumpartners.com>","type":"personal","icon":null,"description":null,"creatorId":"9e2499ce-735b-4ceb-9948-c8a8113723a9","projectRelations":[{"updatedAt":"2024-12-02T18:17:55.873Z","createdAt":"2024-12-02T18:17:55.873Z","userId":"9e2499ce-735b-4ceb-9948-c8a8113723a9","projectId":"YzYcE6mKFnrebOWN","user":{"updatedAt":"2026-02-08T13:13:51.000Z","createdAt":"2024-12-02T18:17:54.383Z","id":"9e2499ce-735b-4ceb-9948-c8a8113723a9","email":"burke.autrey@fortiumpartners.com","firstName":"Burke","lastName":"Autrey","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nEOwdsbMyC6ayRov","userActivatedAt":1765715867087,"npsSurvey":{"responded":true,"lastShownAt":1768949557440}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-08","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-08T13:53:47.546Z","createdAt":"2026-02-08T13:53:47.546Z","versionId":"e3a284ad-a5fe-496f-b0bb-5935bb940b8e","workflowId":"JwDmVKDzUpDmY8jh","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"id","value":"1wTbf1sM1zUC4WZ1Mj2PzNFfsMLoaFi7D"},"event":"fileCreated","options":{}},"id":"trigger","name":"Watch CEO Mail Folder","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,384],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{}},"id":"download","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,384],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 2048, messages: [{ role: 'user', content: [{ type: 'document', source: { type: 'base64', media_type: 'application/pdf', data: $binary.data.data } }, { type: 'text', text: 'You are classifying a scanned document. Analyze the FULL document visually.\\n\\nRULES:\\n- Be conservative and explicit.\\n- If unsure, say \"Unknown\" or \"Unclear\".\\n- Do NOT infer facts not supported by the document.\\n- Output MUST be valid JSON with the structure below.\\n- Do NOT include markdown formatting or code fences.\\n\\nROUTING RULES (CRITICAL):\\n- Look at the COVER SHEET (first page) for a category keyword\\n- The cover sheet will contain one of: \"Support\", \"Personal\", or \"Accounting\"\\n- This may appear as large text, a header, or near a QR code\\n- If you see \"Support\" \u2192 route is \"Support\"\\n- If you see \"Personal\" \u2192 route is \"Personal\"\\n- If you see \"Accounting\" \u2192 route is \"Accounting\"\\n- If none found or unclear \u2192 route is \"Review\"\\n\\nCLASSIFICATION FIELD RULES:\\n- Must be a PLAIN TEXT STRING, not a JSON object\\n- Format as: SUMMARY: ...\\nCLASSIFICATION: ...\\nTAX RELEVANCE: ...\\nENTITIES: ...\\nKEY TERMS: ...\\n\\nFILENAME RULES:\\n- Extract ACTUAL identifying details from the document\\n- Include: sender/source, account/reference/policy numbers, document type, date\\n- Use underscores, no spaces. Keep under 80 characters.\\n- Be SPECIFIC \u2014 generic names are unacceptable\\n\\nOUTPUT (valid JSON only):\\n{\\n  \"route\": \"<Support|Personal|Accounting|Review>\",\\n  \"classification\": \"SUMMARY: ...\\\\nCLASSIFICATION: ...\\\\nTAX RELEVANCE: ...\\\\nENTITIES: ...\\\\nKEY TERMS: ...\",\\n  \"filename\": \"<specific_filename_from_document_details>\",\\n  \"title\": \"<suggested title, 25 words or less>\"\\n}' }] }] }) }}","options":{"timeout":60000}},"id":"claude-analyze","name":"Analyze Document (Claude)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,384],"credentials":{"httpHeaderAuth":{"id":"SETVFCiGbJg6UhQO","name":"Anthropic API Key"}}},{"parameters":{"jsCode":"const claudeResponse = $input.first().json;\nconst originalName = $('Download File').first().json.name;\n\nlet analysis = { route: 'Review', classification: '', filename: 'scan.pdf', title: 'Scanned Document' };\n\ntry {\n  const content = claudeResponse.content[0].text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      analysis = JSON.parse(jsonMatch[0]);\n    } catch (e) {\n      const fixed = jsonMatch[0].replace(/\"((?:[^\"\\\\]|\\\\.)*?)\"/g, (match, inner) => {\n        return '\"' + inner.replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\r') + '\"';\n      });\n      try {\n        analysis = JSON.parse(fixed);\n      } catch (e2) {\n        console.log('Parse error after fix:', e2.message);\n      }\n    }\n  }\n} catch (e) {\n  console.log('Parse error:', e.message);\n}\n\n// Ensure classification is a string\nif (typeof analysis.classification === 'object' && analysis.classification !== null) {\n  let textParts = [];\n  for (const [key, value] of Object.entries(analysis.classification)) {\n    const label = key.toUpperCase().replace(/_/g, ' ');\n    if (Array.isArray(value)) {\n      textParts.push(`${label}: ${value.join(', ')}`);\n    } else if (typeof value === 'object' && value !== null) {\n      textParts.push(`${label}: ${JSON.stringify(value)}`);\n    } else {\n      textParts.push(`${label}: ${value}`);\n    }\n  }\n  analysis.classification = textParts.join('\\n');\n}\n\nif (!analysis.filename.toLowerCase().endsWith('.pdf')) {\n  analysis.filename += '.pdf';\n}\n\n// Normalize route value\nconst validRoutes = ['Support', 'Personal', 'Accounting'];\nconst route = validRoutes.find(r => r.toLowerCase() === (analysis.route || '').toLowerCase()) || 'Review';\n\nreturn [{\n  json: {\n    classification: analysis.classification,\n    filename: analysis.filename,\n    title: analysis.title,\n    route: route,\n    originalName: originalName\n  },\n  pairedItem: { item: 0 }\n}];"},"id":"parse-response","name":"Parse Claude Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,384]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Parse Claude Response').item.json.route }}","rightValue":"Support","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Support"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Parse Claude Response').item.json.route }}","rightValue":"Personal","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Personal"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Parse Claude Response').item.json.route }}","rightValue":"Accounting","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Accounting"}]},"options":{}},"id":"route-by-barcode","name":"Route by Category","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1120,368]},{"parameters":{"name":"={{ $('Parse Claude Response').item.json.filename }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1fzB8tvGMuqLZegqsJ4Y7U_a_jVvjBxKc"},"options":{}},"id":"upload-support","name":"Upload to Support","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1344,0],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}}},{"parameters":{"name":"={{ $('Parse Claude Response').item.json.filename }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"0BzramNI5HfpVfnpaaXlXV3ZyWXlmS1BNaXVDbjFyaklhVTFYa1JCUzdKZ21oTXdPQ0k0cVk"},"options":{}},"id":"upload-personal","name":"Upload to Personal","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1344,288],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}}},{"parameters":{"name":"={{ $('Parse Claude Response').item.json.filename }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1-7yb9G-oPqc8DOKcJuuNXaiTUKW6n32E"},"options":{}},"id":"upload-accounting","name":"Upload to Accounting","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1344,576],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}}},{"parameters":{"name":"={{ $('Parse Claude Response').item.json.filename }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1wTbf1sM1zUC4WZ1Mj2PzNFfsMLoaFi7D"},"options":{}},"id":"upload-review","name":"Upload to Review","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1344,768],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"mode":"id","value":"={{ $('Watch CEO Mail Folder').item.json.id }}"},"options":{}},"id":"delete-support","name":"Delete Original (Support)","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1568,0],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"mode":"id","value":"={{ $('Watch CEO Mail Folder').item.json.id }}"},"options":{}},"id":"delete-personal","name":"Delete Original (Personal)","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1568,288],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"mode":"id","value":"={{ $('Watch CEO Mail Folder').item.json.id }}"},"options":{}},"id":"delete-accounting","name":"Delete Original (Accounting)","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1568,576],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"mode":"id","value":"={{ $('Watch CEO Mail Folder').item.json.id }}"},"options":{}},"id":"delete-review","name":"Delete Original (Review)","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1568,768],"credentials":{"googleDriveOAuth2Api":{"id":"39SNbF0M2XdrFIQZ","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://api.postmarkapp.com/email","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ From: 'Support@fortiumpartners.com', To: 'support@fortiumpartners.com', Subject: 'New Support Mail: ' + $('Parse Claude Response').item.json.filename, TextBody: 'A new document has been received for Support. Please review and take the necessary action.\\n\\nDocument: ' + $('Parse Claude Response').item.json.filename + '\\n\\nDocument link: ' + $('Upload to Support').item.json.webViewLink + '\\n\\nDescription:\\n' + $('Parse Claude Response').item.json.classification }) }}","options":{}},"id":"email-support","name":"Email Support Team","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,0],"credentials":{"httpHeaderAuth":{"id":"ITJOSvq8zzGdCqAW","name":"Postmark API Key"}}},{"parameters":{"method":"POST","url":"https://api.postmarkapp.com/email","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ From: 'Accounting@fortiumpartners.com', To: 'accounting@fortiumpartners.com', Subject: 'New Accounting Mail: ' + $('Parse Claude Response').item.json.filename, TextBody: 'A new document has been received for Accounting. Please review and take the necessary action.\\n\\nDocument: ' + $('Parse Claude Response').item.json.filename + '\\n\\nDocument link: ' + $('Upload to Accounting').item.json.webViewLink + '\\n\\nDescription:\\n' + $('Parse Claude Response').item.json.classification }) }}","options":{}},"id":"email-accounting","name":"Email Accounting Team","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,576],"credentials":{"httpHeaderAuth":{"id":"ITJOSvq8zzGdCqAW","name":"Postmark API Key"}}},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ channel: 'D1KSRSPQV', text: 'Your scan was moved to the Support Folder.\\n\\nLink: ' + $('Upload to Support').item.json.webViewLink + '\\n\\nFilename: ' + $('Parse Claude Response').item.json.filename + '\\n\\nTitle: ' + $('Parse Claude Response').item.json.title + '\\n\\nSummary: ' + $('Parse Claude Response').item.json.classification }) }}","options":{}},"id":"slack-support","name":"Slack DM (Support)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,0],"credentials":{"httpHeaderAuth":{"id":"XrXVVGhH6x5M4XVD","name":"Slack Bot Token"}}},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ channel: 'D1KSRSPQV', text: 'Your scan was moved to the Personal Folder.\\n\\nLink: ' + $('Upload to Personal').item.json.webViewLink + '\\n\\nFilename: ' + $('Parse Claude Response').item.json.filename + '\\n\\nTitle: ' + $('Parse Claude Response').item.json.title + '\\n\\nSummary: ' + $('Parse Claude Response').item.json.classification }) }}","options":{}},"id":"slack-personal","name":"Slack DM (Personal)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,288],"credentials":{"httpHeaderAuth":{"id":"XrXVVGhH6x5M4XVD","name":"Slack Bot Token"}}},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ channel: 'D1KSRSPQV', text: 'Your scan was moved to the Accounting Folder.\\n\\nLink: ' + $('Upload to Accounting').item.json.webViewLink + '\\n\\nFilename: ' + $('Parse Claude Response').item.json.filename + '\\n\\nTitle: ' + $('Parse Claude Response').item.json.title + '\\n\\nSummary: ' + $('Parse Claude Response').item.json.classification }) }}","options":{}},"id":"slack-accounting","name":"Slack DM (Accounting)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,576],"credentials":{"httpHeaderAuth":{"id":"XrXVVGhH6x5M4XVD","name":"Slack Bot Token"}}},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ channel: 'D1KSRSPQV', text: 'Your scan was moved to the Review Folder (unrecognized category).\\n\\nLink: ' + $('Upload to Review').item.json.webViewLink + '\\n\\nFilename: ' + $('Parse Claude Response').item.json.filename + '\\n\\nTitle: ' + $('Parse Claude Response').item.json.title + '\\n\\nSummary: ' + $('Parse Claude Response').item.json.classification }) }}","options":{}},"id":"slack-review","name":"Slack DM (Review)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,768],"credentials":{"httpHeaderAuth":{"id":"XrXVVGhH6x5M4XVD","name":"Slack Bot Token"}}},{"parameters":{"jsCode":"const json = $input.first().json;\nconst binary = $('Download File').first().binary;\nreturn [{ json, binary, pairedItem: { item: 0 } }];"},"id":"reattach-binary","name":"Re-attach Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,384]}],"connections":{"Watch CEO Mail Folder":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Analyze Document (Claude)","type":"main","index":0}]]},"Analyze Document (Claude)":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Parse Claude Response":{"main":[[{"node":"Re-attach Binary","type":"main","index":0}]]},"Re-attach Binary":{"main":[[{"node":"Route by Category","type":"main","index":0}]]},"Route by Category":{"main":[[{"node":"Upload to Support","type":"main","index":0}],[{"node":"Upload to Personal","type":"main","index":0}],[{"node":"Upload to Accounting","type":"main","index":0}],[{"node":"Upload to Review","type":"main","index":0}]]},"Upload to Support":{"main":[[{"node":"Delete Original (Support)","type":"main","index":0}]]},"Upload to Personal":{"main":[[{"node":"Delete Original (Personal)","type":"main","index":0}]]},"Upload to Accounting":{"main":[[{"node":"Delete Original (Accounting)","type":"main","index":0}]]},"Upload to Review":{"main":[[{"node":"Delete Original (Review)","type":"main","index":0}]]},"Delete Original (Support)":{"main":[[{"node":"Email Support Team","type":"main","index":0}]]},"Delete Original (Personal)":{"main":[[{"node":"Slack DM (Personal)","type":"main","index":0}]]},"Delete Original (Accounting)":{"main":[[{"node":"Email Accounting Team","type":"main","index":0}]]},"Delete Original (Review)":{"main":[[{"node":"Slack DM (Review)","type":"main","index":0}]]},"Email Support Team":{"main":[[{"node":"Slack DM (Support)","type":"main","index":0}]]},"Email Accounting Team":{"main":[[{"node":"Slack DM (Accounting)","type":"main","index":0}]]}},"authors":"Burke Autrey","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-08T13:53:48.085Z","id":39,"workflowId":"JwDmVKDzUpDmY8jh","versionId":"e3a284ad-a5fe-496f-b0bb-5935bb940b8e","event":"activated","userId":"9e2499ce-735b-4ceb-9948-c8a8113723a9"}]}}