workflows/recent-invoices.json
{"updatedAt":"2026-01-04T21:56:03.618Z","createdAt":"2025-12-11T21:19:26.752Z","id":"NXIfIGPf4ZaYNRXZ","name":"Recent Invoices","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 5 2,3,4,5,17,18,19,20 * *"}]}},"id":"schedule-trigger","name":"Monthly Schedule (Days 2-5, 17-20 at 5AM)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,304]},{"parameters":{"operation":"executeQuery","query":"SELECT\n      ee.Uid AS EngagementUid,\n      ee.ClientUid,\n      ee.RevenueOwnerName AS EngagementOwner,\n      ee.Name AS Client,\n      ee.Description AS EngagementDescription,\n      ee.LastInvoiceDate AS LastInvoice,\n      DATEDIFF(CURDATE(), ee.LastInvoiceDate) AS DaysSince,\n      ee.Deliverer AS DelResource\n  FROM connect_v3_prod.EngagementExplorers ee\n  WHERE ee.EngagementActive = 1\n      AND ee.ClientActive = 1\n      AND ee.LastInvoiceDate IS NOT NULL\n      AND ee.LastInvoiceDate != '1883-11-19'\n      AND DATEDIFF(CURDATE(), ee.LastInvoiceDate) > 15\n  ORDER BY EngagementOwner, DaysSince DESC, Client","options":{}},"id":"mysql-recent-invoices","name":"Fetch Recent Active Client Invoices","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[256,304],"credentials":{"mySql":{"id":"0gRQdqcp25fXVYKb","name":"MySQL account"}}},{"parameters":{"jsCode":"// =============================================\n// 📧 EMAIL RECIPIENTS - EDIT THIS LINE:\n// =============================================\nconst emailRecipientsList = [\n  'mp@fortiumpartners.com',\n  'burke.autrey@fortiumpartners.com',\n  'revops@fortiumpartners.com',\n];\n\n// Postmark \"To\" wants a string, not an array\nconst emailRecipients = emailRecipientsList.join(', ');\n\n// =============================================\n\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [{\n    json: {\n      tableRows: '<tr><td colspan=\"6\" style=\"text-align: center; padding: 20px; color: #666;\">No clients found with invoices over 15 days old.</td></tr>',\n      clientCount: 0,\n      emailRecipients\n    }\n  }];\n}\n\n// Format date helper\nconst formatDate = (dateStr) => {\n  if (!dateStr) return 'N/A';\n  const date = new Date(dateStr);\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const day = String(date.getDate()).padStart(2, '0');\n  const year = date.getFullYear();\n  return `${month}-${day}-${year}`;\n};\n\n// Staleness indicator color based on days since last invoice\nconst getBorderColor = (days) => {\n  if (days >= 90) return '#e74c3c';  // red - should definitely deactivate\n  if (days >= 60) return '#f39c12';  // yellow - getting stale\n  return '#27ae60';                   // green - not too old yet\n};\n\n// Build HTML table rows with engagement link and staleness indicator\nconst tableRows = items.map(item => {\n  const data = item.json;\n  const days = data.DaysSince || 0;\n  const borderColor = getBorderColor(days);\n  const engagementLink = `https://prod.fortiumsoftware.com/#/client/edit/${data.ClientUid}/engagement/${data.EngagementUid}`;\n  return `<tr>\n  <td style=\"border-left: 4px solid ${borderColor};\">${data.EngagementOwner || 'N/A'}</td>\n  <td>${data.Client || 'N/A'}</td>\n  <td><a href=\"${engagementLink}\">${data.EngagementDescription || 'N/A'}</a></td>\n  <td>${formatDate(data.LastInvoice)}</td>\n  <td>${days}</td>\n  <td>${data.DelResource || 'N/A'}</td>\n</tr>`;\n}).join('\\n');\n\nreturn [{\n  json: {\n    tableRows: tableRows,\n    clientCount: items.length,\n    emailRecipients\n  }\n}];\n"},"id":"aggregate-rows","name":"📧 Build HTML Table Rows (edit recipients here)","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,304]},{"parameters":{"jsCode":"// Build complete email HTML body\nconst data = $input.first().json;\nconst today = new Date();\nconst formattedDate = `${String(today.getMonth() + 1).padStart(2, '0')}-${String(today.getDate()).padStart(2, '0')}-${today.getFullYear()}`;\n\n// Time-limited \"Improved!\" badge - expires 60 days after Jan 2, 2026\nconst launchDate = new Date('2026-01-02');\nconst expirationDate = new Date(launchDate.getTime() + (60 * 24 * 60 * 60 * 1000));\nconst showImprovedBadge = today < expirationDate;\nconst subjectPrefix = showImprovedBadge ? '✨ Improved! ' : '';\n\nconst htmlBody = `<!DOCTYPE html>\n<html>\n<head>\n<style>\ntable {\n  font-family: arial, sans-serif;\n  border-collapse: collapse;\n  table-layout: fixed;\n  width: 100%;\n}\n\ntd, th {\n  border: 1px solid #dddddd;\n  text-align: left;\n  padding: 8px;\n}\n\ntr:nth-child(even) {\n  background-color: #dddddd;\n}\n</style>\n</head>\n<body>\n<br/>\nAll clients not invoiced in over 15 days.\n<br/>\nIf the engagement should be closed, please close it!\n<br/>\n<br/>\n<table>\n  <tr>\n    <th>Engagement Owner</th>\n    <th>Client</th>\n    <th>Description</th>\n    <th>Last Invoice</th>\n    <th>Days Since</th>\n    <th>Delivery Resource</th>\n  </tr>\n${data.tableRows}\n</table>\n<br/>\n<p style=\"color: #666; font-size: 12px;\">Total clients: ${data.clientCount}</p>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    subject: `${subjectPrefix}Recent Invoices as of ${formattedDate}`,\n    htmlBody: htmlBody,\n    clientCount: data.clientCount,\n    emailRecipients: data.emailRecipients\n  }\n}];\n"},"id":"build-email","name":"Build Email HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[752,304]},{"parameters":{"method":"POST","url":"https://api.postmarkapp.com/email","authentication":"predefinedCredentialType","nodeCredentialType":"postmarkApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"From\": \"Accounting@FortiumPartners.com\",\n  \"To\": \"{{ $json.emailRecipients }}\",\n  \"Subject\": \"{{ $json.subject }}\",\n  \"HtmlBody\": {{ JSON.stringify($json.htmlBody) }}\n}","options":{}},"id":"send-email","name":"Send Email via Postmark","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,304],"credentials":{"postmarkApi":{"id":"HW0lzGccA3xvVoHZ","name":"Postmark account"}}},{"parameters":{"jsCode":"// Log successful execution\nconst result = $input.first().json;\n\nconsole.log('✅ Recent Invoices workflow completed');\nconsole.log('   Postmark Message ID:', result.MessageID || 'N/A');\n\nreturn [{\n  json: {\n    success: true,\n    timestamp: new Date().toISOString(),\n    messageId: result.MessageID || null\n  }\n}];"},"id":"log-success","name":"Log Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,304]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,512],"id":"7bc00686-752c-4228-8161-131f718730e4","name":"When clicking ‘Execute workflow’"}],"connections":{"Monthly Schedule (Days 2-5, 17-20 at 5AM)":{"main":[[{"node":"Fetch Recent Active Client Invoices","type":"main","index":0}]]},"Fetch Recent Active Client Invoices":{"main":[[{"node":"📧 Build HTML Table Rows (edit recipients here)","type":"main","index":0}]]},"📧 Build HTML Table Rows (edit recipients here)":{"main":[[{"node":"Build Email HTML","type":"main","index":0}]]},"Build Email HTML":{"main":[[{"node":"Send Email via Postmark","type":"main","index":0}]]},"Send Email via Postmark":{"main":[[{"node":"Log Success","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Fetch Recent Active Client Invoices","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Monthly Schedule (Days 2-5, 17-20 at 5AM)":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"e738a2ff-a9d2-4eb4-8856-addb98bfe6f5","activeVersionId":"e738a2ff-a9d2-4eb4-8856-addb98bfe6f5","versionCounter":33,"triggerCount":1,"shared":[{"updatedAt":"2025-12-11T21:19:26.754Z","createdAt":"2025-12-11T21:19:26.754Z","role":"workflow:owner","workflowId":"NXIfIGPf4ZaYNRXZ","projectId":"YzYcE6mKFnrebOWN","project":{"updatedAt":"2024-12-02T18:17:57.728Z","createdAt":"2024-12-02T18:17:55.872Z","id":"YzYcE6mKFnrebOWN","name":"Burke Autrey <burke.autrey@fortiumpartners.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2024-12-02T18:17:55.873Z","createdAt":"2024-12-02T18:17:55.873Z","userId":"9e2499ce-735b-4ceb-9948-c8a8113723a9","projectId":"YzYcE6mKFnrebOWN","user":{"updatedAt":"2026-01-04T06:05:29.000Z","createdAt":"2024-12-02T18:17:54.383Z","id":"9e2499ce-735b-4ceb-9948-c8a8113723a9","email":"burke.autrey@fortiumpartners.com","firstName":"Burke","lastName":"Autrey","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"nEOwdsbMyC6ayRov","userActivatedAt":1765715867087,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1767113716911}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-04","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-04T21:56:03.620Z","createdAt":"2026-01-04T21:56:03.620Z","versionId":"e738a2ff-a9d2-4eb4-8856-addb98bfe6f5","workflowId":"NXIfIGPf4ZaYNRXZ","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 5 2,3,4,5,17,18,19,20 * *"}]}},"id":"schedule-trigger","name":"Monthly Schedule (Days 2-5, 17-20 at 5AM)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,304]},{"parameters":{"operation":"executeQuery","query":"SELECT\n      ee.Uid AS EngagementUid,\n      ee.ClientUid,\n      ee.RevenueOwnerName AS EngagementOwner,\n      ee.Name AS Client,\n      ee.Description AS EngagementDescription,\n      ee.LastInvoiceDate AS LastInvoice,\n      DATEDIFF(CURDATE(), ee.LastInvoiceDate) AS DaysSince,\n      ee.Deliverer AS DelResource\n  FROM connect_v3_prod.EngagementExplorers ee\n  WHERE ee.EngagementActive = 1\n      AND ee.ClientActive = 1\n      AND ee.LastInvoiceDate IS NOT NULL\n      AND ee.LastInvoiceDate != '1883-11-19'\n      AND DATEDIFF(CURDATE(), ee.LastInvoiceDate) > 15\n  ORDER BY EngagementOwner, DaysSince DESC, Client","options":{}},"id":"mysql-recent-invoices","name":"Fetch Recent Active Client Invoices","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[256,304],"credentials":{"mySql":{"id":"0gRQdqcp25fXVYKb","name":"MySQL account"}}},{"parameters":{"jsCode":"// =============================================\n// 📧 EMAIL RECIPIENTS - EDIT THIS LINE:\n// =============================================\nconst emailRecipientsList = [\n  'mp@fortiumpartners.com',\n  'burke.autrey@fortiumpartners.com',\n  'revops@fortiumpartners.com',\n];\n\n// Postmark \"To\" wants a string, not an array\nconst emailRecipients = emailRecipientsList.join(', ');\n\n// =============================================\n\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [{\n    json: {\n      tableRows: '<tr><td colspan=\"6\" style=\"text-align: center; padding: 20px; color: #666;\">No clients found with invoices over 15 days old.</td></tr>',\n      clientCount: 0,\n      emailRecipients\n    }\n  }];\n}\n\n// Format date helper\nconst formatDate = (dateStr) => {\n  if (!dateStr) return 'N/A';\n  const date = new Date(dateStr);\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const day = String(date.getDate()).padStart(2, '0');\n  const year = date.getFullYear();\n  return `${month}-${day}-${year}`;\n};\n\n// Staleness indicator color based on days since last invoice\nconst getBorderColor = (days) => {\n  if (days >= 90) return '#e74c3c';  // red - should definitely deactivate\n  if (days >= 60) return '#f39c12';  // yellow - getting stale\n  return '#27ae60';                   // green - not too old yet\n};\n\n// Build HTML table rows with engagement link and staleness indicator\nconst tableRows = items.map(item => {\n  const data = item.json;\n  const days = data.DaysSince || 0;\n  const borderColor = getBorderColor(days);\n  const engagementLink = `https://prod.fortiumsoftware.com/#/client/edit/${data.ClientUid}/engagement/${data.EngagementUid}`;\n  return `<tr>\n  <td style=\"border-left: 4px solid ${borderColor};\">${data.EngagementOwner || 'N/A'}</td>\n  <td>${data.Client || 'N/A'}</td>\n  <td><a href=\"${engagementLink}\">${data.EngagementDescription || 'N/A'}</a></td>\n  <td>${formatDate(data.LastInvoice)}</td>\n  <td>${days}</td>\n  <td>${data.DelResource || 'N/A'}</td>\n</tr>`;\n}).join('\\n');\n\nreturn [{\n  json: {\n    tableRows: tableRows,\n    clientCount: items.length,\n    emailRecipients\n  }\n}];\n"},"id":"aggregate-rows","name":"📧 Build HTML Table Rows (edit recipients here)","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,304]},{"parameters":{"jsCode":"// Build complete email HTML body\nconst data = $input.first().json;\nconst today = new Date();\nconst formattedDate = `${String(today.getMonth() + 1).padStart(2, '0')}-${String(today.getDate()).padStart(2, '0')}-${today.getFullYear()}`;\n\n// Time-limited \"Improved!\" badge - expires 60 days after Jan 2, 2026\nconst launchDate = new Date('2026-01-02');\nconst expirationDate = new Date(launchDate.getTime() + (60 * 24 * 60 * 60 * 1000));\nconst showImprovedBadge = today < expirationDate;\nconst subjectPrefix = showImprovedBadge ? '✨ Improved! ' : '';\n\nconst htmlBody = `<!DOCTYPE html>\n<html>\n<head>\n<style>\ntable {\n  font-family: arial, sans-serif;\n  border-collapse: collapse;\n  table-layout: fixed;\n  width: 100%;\n}\n\ntd, th {\n  border: 1px solid #dddddd;\n  text-align: left;\n  padding: 8px;\n}\n\ntr:nth-child(even) {\n  background-color: #dddddd;\n}\n</style>\n</head>\n<body>\n<br/>\nAll clients not invoiced in over 15 days.\n<br/>\nIf the engagement should be closed, please close it!\n<br/>\n<br/>\n<table>\n  <tr>\n    <th>Engagement Owner</th>\n    <th>Client</th>\n    <th>Description</th>\n    <th>Last Invoice</th>\n    <th>Days Since</th>\n    <th>Delivery Resource</th>\n  </tr>\n${data.tableRows}\n</table>\n<br/>\n<p style=\"color: #666; font-size: 12px;\">Total clients: ${data.clientCount}</p>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    subject: `${subjectPrefix}Recent Invoices as of ${formattedDate}`,\n    htmlBody: htmlBody,\n    clientCount: data.clientCount,\n    emailRecipients: data.emailRecipients\n  }\n}];\n"},"id":"build-email","name":"Build Email HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[752,304]},{"parameters":{"method":"POST","url":"https://api.postmarkapp.com/email","authentication":"predefinedCredentialType","nodeCredentialType":"postmarkApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"From\": \"Accounting@FortiumPartners.com\",\n  \"To\": \"{{ $json.emailRecipients }}\",\n  \"Subject\": \"{{ $json.subject }}\",\n  \"HtmlBody\": {{ JSON.stringify($json.htmlBody) }}\n}","options":{}},"id":"send-email","name":"Send Email via Postmark","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,304],"credentials":{"postmarkApi":{"id":"HW0lzGccA3xvVoHZ","name":"Postmark account"}}},{"parameters":{"jsCode":"// Log successful execution\nconst result = $input.first().json;\n\nconsole.log('✅ Recent Invoices workflow completed');\nconsole.log('   Postmark Message ID:', result.MessageID || 'N/A');\n\nreturn [{\n  json: {\n    success: true,\n    timestamp: new Date().toISOString(),\n    messageId: result.MessageID || null\n  }\n}];"},"id":"log-success","name":"Log Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,304]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,512],"id":"7bc00686-752c-4228-8161-131f718730e4","name":"When clicking ‘Execute workflow’"}],"connections":{"Monthly Schedule (Days 2-5, 17-20 at 5AM)":{"main":[[{"node":"Fetch Recent Active Client Invoices","type":"main","index":0}]]},"Fetch Recent Active Client Invoices":{"main":[[{"node":"📧 Build HTML Table Rows (edit recipients here)","type":"main","index":0}]]},"📧 Build HTML Table Rows (edit recipients here)":{"main":[[{"node":"Build Email HTML","type":"main","index":0}]]},"Build Email HTML":{"main":[[{"node":"Send Email via Postmark","type":"main","index":0}]]},"Send Email via Postmark":{"main":[[{"node":"Log Success","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Fetch Recent Active Client Invoices","type":"main","index":0}]]}},"authors":"Burke Autrey","name":null,"description":null}}